<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zawahir Fingers</title>

    <!--Bootstrap and JQuery-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body onload = "readWordFile()">
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <!--
                        <span id = 'word1' class = 'mr-5'>word1</span>
                        <span id = 'word2' class = 'mr-5'>word2</span>
                        <span id = 'word3' class = 'mr-5'>word3</span>-->
                        <div id="app">
                            <type-word
                                v-for='word in wordBatchData'
                                v-bind:words='word'
                                v-bind:id = `word${word.id+1}`
                                v-bind:key='word.id'
                            ></type-word>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 bottom-buffer"> <!--Setup a bottom-buffer-->
            <div class="col-3"></div>
            <div class="col-6">
                <input type="text" id="inputText" class="form-control" oninput="handleInput()" onkeydown="wordEntered(this)">
            </div>
        </div>
    </div>

    <div class='row mt-5'>
        <div class="col-12 text-center">
            <hr>
            <small class = 'small-details'>Zawahir Studios | <a href="#" class = 'text-muted'>Terms and Conditions </a>|<a href="#" class = 'text-muted'> Privacy Policy</a></small>
        </div>
    </div>
</body>
<script src="/controllers/client.js"></script>
</html>